[default]
PROXY = ""

EMAIL_SMTP_HOST = "smtp.example.com"
EMAIL_SMTP_PORT = 587
EMAIL_SMTP_USERNAME = ""
EMAIL_SMTP_PASSWORD = ""
EMAIL_FROM = ""
EMAIL_TO = []
EMAIL_CC = []
EMAIL_BCC = []

DISCORD_DST = ""

MSTEAMS_DST = ""

SLACK_DST = ""
SLACK_TOKEN = ""
SLACK_CHANNEL = ""

WEBEX_TOKEN = ""
WEBEX_DST = ""

[email]
EMAIL_SMTP_HOST = "smtp.example.com"
EMAIL_SMTP_PORT = 587
EMAIL_SMTP_USERNAME = ""
EMAIL_SMTP_PASSWORD = ""
EMAIL_FROM = ""
EMAIL_TO = []
EMAIL_CC = []
EMAIL_BCC = []

[teams]
MSTEAMS_DST = ""

[slack]
SLACK_DST = ""
SLACK_TOKEN = ""
SLACK_CHANNEL = ""

[discord]
DISCORD_DST = ""

[webex]
WEBEX_TOKEN = ""
WEBEX_DST = ""
